@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Noto+Color+Emoji&family=Russo+One&display=swap')

body #wrapper #navigation{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
body #wrapper #header {
    padding-left: 0;
    height: 110px;
}
body #wrapper #header .hgroup h1{ text-shadow:none }
body #wrapper #header .hgroup h1{
    font-family: "Russo One", "Archivo Black", sans-serif;
    font-weight: 400;
    padding-top: 30px;
    font-style: normal;
    font-size: 58px !important;
}
body #wrapper #navigation ul {
    position: absolute;
    top: -3px;
    left: 10px;
    z-index: 61;
    margin-left: 0;
    font-family: "Russo One", "Archivo Black";
}
body h1, body h2, body h3, body h4, body #secondary_navigation {
    font-family: "Josefin Sans", "Russo One", "Archivo Black";
}
body #secondary_navigation a {
    color: black;
}
#wrapper #container #secondary_navigation {
    padding: 12px 0;
    background: #306fa8;
    margin: -20px -20px 30px -20px;
}
#wrapper #container #secondary_navigation ul {
    margin-left: 3px;
}
#wrapper #navigation ul li.active a.indicator{
    padding:0;}
body #wrapper #container #secondary_navigation ul li a{
    display: block;
    text-decoration: none;
    background: #cde3fb;
    color: black;
    padding: 4px 9px;
    font-weight: bold;
    border-radius: 4px;
}
body #wrapper #container #secondary_navigation ul li {
     border-right: none;
    padding-right: 2px;
}
#wrapper #container #secondary_navigation ul li.active.root ul li a {
    display: block;
    text-decoration: none;
}
body #wrapper #container #secondary_navigation ul li a:hover{
    background-color: white;
}

#wrapper #navigation ul li.active {
    box-shadow: 0 0 12px -2px #426fa5;
}

#wrapper #container #secondary_navigation ul li:first-child{
    margin-left: 0;
}

#wrapper #container .snippet.announcement_snippet {
    background-color: #dff0ff;
    color: #000;
}