@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Color+Emoji&family=Russo+One&display=swap')
html body, html body #container {
    font-family: 'Montserrat', 'Josefin Sans', sans-serif;
    font-size: 1em;
}
body #wrapper #navigation{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 42px;
}
body #wrapper #header {
    padding-left: 0;
    height: 110px;
}
body #wrapper #header .hgroup h1{ text-shadow:none }
body #wrapper #header .hgroup h1{
    font-family: "Russo One", "Archivo Black", sans-serif;
    font-weight: 400;
    padding-top: 30px;
    font-style: normal;
    font-size: 58px !important;
}
body #wrapper #navigation ul li {
    height: 36px;
}
body #wrapper #navigation ul li.active {
    margin-top: -4px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
body #wrapper #navigation ul li {
    margin-top: -2px;
}
body #wrapper #navigation ul {
    position: absolute;
    top: 1px;
    left: 10px;
    z-index: 61;
    margin-left: 0;
    font-family: "Russo One", "Archivo Black";
}
body h1, body h2, body h3, body h4, body #secondary_navigation, body .sign_in .heading {
    font-family: "Josefin Sans", "Russo One", "Archivo Black";
}
body .sign_in .heading {
    font-weight: bold !important;
}
body #secondary_navigation a {
    color: black;
}
#wrapper #container #secondary_navigation {
    padding: 12px 0;
    background: #306fa8;
    margin: -20px -20px 30px -20px;
}
#wrapper #container #secondary_navigation ul {
    margin-left: 3px;
}
#wrapper #navigation ul li.active a.indicator{
    padding:0;}
body #wrapper #container #secondary_navigation ul li a{
    display: block;
    text-decoration: none;
    background: #cde3fb;
    color: black;
    padding: 4px 9px;
    font-weight: bold;
    border-radius: 4px;
}
body #wrapper #container #secondary_navigation ul li {
     border-right: none;
    padding-right: 2px;
}
#wrapper #container #secondary_navigation ul li.active.root ul li a {
    display: block;
    text-decoration: none;
}
body #wrapper #container #secondary_navigation ul li a:hover{
    background-color: white;
}

#wrapper #navigation ul li.active {
    box-shadow: 0 0 12px -2px #426fa5;
}

#wrapper #container #secondary_navigation ul li:first-child{
    margin-left: 0;
}

#wrapper #container .snippet.announcement_snippet {
    background-color: #dff0ff;
    color: #000;
}
body #wrapper #container .snippet.announcement_snippet a.buttonLink {
    background: #426fa5;
    color: white;
    padding: 11px 15px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none !important;
    border: 1px solid #43679c
}
body #wrapper #container .snippet.announcement_snippet a.buttonLink:hover {
    background: #2f5c91;
}
.snippet_top h2 {
    font-size: 38px;
    color: #151719;
    font-family: 'Russo One';
}
body #wrapper #navigation ul li ul {
    background-color: #6bace7;
}
body #wrapper #navigation ul li ul li {
    border-top: none !important;
    width: 145px;
    padding: 10px 10px 5px 10px;
}

body #wrapper #navigation ul li ul li a:hover{
    color:white;
    text-decoration: none;
}